@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #045DE9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    margin: 30px auto;
    width: 350px;
}

h3 {
    color: white;
    text-align: center;
    margin: 10px;
    font-size: 20px;
}

input[type="text"] {
    border: 1px solid #dedede;
    border-radius: 10px;
    display: block;
    font-size: 16px;
    padding: 10px;
    width: 100%;
}

.btn {
    background: black;
    cursor: pointer;
    color: #fff;
    display: block;
    margin: 10px 0 30px;
    padding: 10px;
    font-size: 16px;
    width: 100%;
    border: 5px;
    border-radius: 15px;
}